<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Einstellungen
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-item>
    <ion-label>Speicher bereinigen</ion-label>
    <ion-button (click)="deleteAllTasks()">Alle Aufgaben löschen</ion-button>
  </ion-item>
  <ion-item>
    <ion-label>Finn Reinhardt abonnieren</ion-label>
    <ion-toggle></ion-toggle>
  </ion-item>

</ion-content>