<ion-header>
  <ion-toolbar>
    <ion-title>Hilfe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <br>
  <ion-item>
    Um Aufgaben hinzuzufügen, navigieren Sie in den Tab "ausstehend" und drücken Sie auf das Plus Symbol in der oberen
    rechten Ecke und bestätigen ihre Eingabe

  </ion-item>

  <br>
  <ion-item>
    Durch Wischen nach links können Sie Aufgaben als abgeschlossen markieren oder löschen. Abgeschlossene Aufgaben werden unter
    dem Reiter "Erledigt" angezeigt. Auch dort können die Aufgaben gelöscht werden.
  </ion-item>
  <br>
  <ion-item>
    In den Einstellungen ist es möglich, alle erstellten Aufgaben (egal ob abgeschlossen oder ausstehend) entgültig zu löschen.
  </ion-item>

</ion-content>